{% extends "layout.html.twig" %}

{% block app_content %}

    {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}

    <div class="form-group">
        {{ form_errors(form) }}

        {{ form_row(form.name) }}
        {{ form_row(form.description) }}
        {{ form_row(form.price) }}

        <hr/>
        {{ form_row(form.save) }}

    </div>
    {{ form_end(form) }}
{% endblock app_content %}
